.social {
  color: gray;
}

.bg-hero {
  background-image: url("../../images/meeting_pic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.hero-content {
  border-top: 6px solid green;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.hero-btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px 20px;
  border: 2px solid green;
  border-radius: 4px;
  font-weight: bold;
}
.hero-btn:hover {
  cursor: pointer;
}
